<h2>Ranking de emprendimientos</h2>
<app-lista-emprendimientos></app-lista-emprendimientos>
            <table id="example" class="table table-dark mt-5 container">
                <thead>
                  <tr>
                    <th scope="col">Emprendimiento</th>
                    <th scope="col">Donaciones</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Donar</th>
                    <th scope="col">Visitas</th>
                  </tr>
                </thead>
                <tbody id="cuerpo">
                  <tr>
                    <td>AyudAR</td>
                    <td>10</td>
                    <td>Alimentos</td>
                    <td><a href="/assets/donacion.html?valor=AyudAR"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>1000</td>
                  </tr>
                  <tr>
                    <td>Manos abiertas</td>
                    <td>10</td>
                    <td>Alimentos</td>
                    <td><a href="/assets/donacion.html?valor=Manos abiertas"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>10000</td>
                  </tr>
                  <tr>
                    <td>Fundación Pietro</td>
                    <td>2</td>
                    <td>Alimentos</td>
                    <td><a href="/assets/donacion.html?valor=Fundación Pietro"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>2500</td>
                  </tr>
                  <tr>
                    <td>La chata solidaria</td>
                    <td>16</td>
                    <td>Alimentos</td>
                    <td><a href="/assets/donacion.html?valor=La chata solidaria"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>560</td>
                  </tr>
                  <tr>
                    <td>Sueños cumplidos</td>
                    <td>23</td>
                    <td>Educación</td>
                    <td><a href="/assets/donacion.html?valor=Sueños cumplidos"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>3470</td>
                  </tr>
                  <tr>
                    <td>CHAP</td>
                    <td>66</td>
                    <td>Educación</td>
                    <td><a href="/assets/donacion.html?valor=CHAP"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>57</td>
                  </tr>
                  <tr>
                    <td>Comprometerse más</td>
                    <td>1</td>
                    <td>Educación</td>
                    <td><a href="/assets/donacion.html?=valor=Comprometerse más"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Agua de esperanza</td>
                    <td>190</td>
                    <td>Textil</td>
                    <td><a href="/assets/donacion.html?valor=Agua de esperanza"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>19</td>
                  </tr>
                  <tr>
                    <td>Effata</td>
                    <td>29</td>
                    <td>Tecnología</td>
                    <td><a href="/assets/donacion.html?valor=Effata"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>1900</td>
                  </tr>
                  <tr>
                    <td>Fundación corazonada</td>
                    <td>100</td>
                    <td>Tecnología</td>
                    <td><a href="/assets/donacion.html?valor=Fundación corazonada"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>5600</td>
                  </tr>
                  <tr>
                    <td>Grupo puentes</td>
                    <td>198</td>
                    <td>Tecnología</td>
                    <td><a href="/assets/donacion.html?valor=Grupo puentes"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>2300</td>
                  </tr>
                </tbody>
              </table>
