<!DOCTYPE html>
<html lang="en">
<app-head></app-head>
<body>
  <app-header></app-header>
    <app-cerrar-sesion></app-cerrar-sesion>
  <p class="btn-volver"><a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button"><span
        class="button-text">Volver</span></a></p>
  <main>
    <div class="mainAdmin">
      <div class="centrado2">
        <div *ngIf="authService.isAuthenticated() && authService.obtenerRol() === '3'">
          <section >
            <a [routerLink]="['/editarUsuario']"><img class="edicionUser" src="assets/imagenes/edicionUsuario.png"
                height="400px"></a>
            <a [routerLink]="['/editarEmprendimiento']"><img class="edicionEmprendimiento"
                src="/assets/imagenes/edicionEmprendimiento.png" height="400px"></a>
          </section >
        </div>
        <div *ngIf="!authService.isAuthenticated() || authService.obtenerRol() !== '3'">
          <app-error-autenticacion></app-error-autenticacion>
        </div>
      </div>
      <section>
      </section>
    </div>
  </main>
  <app-footer></app-footer>
  <app-script></app-script>
</body>
</html>
