<h3 FONT COLOR="black">Ranking de emprendimientos</h3>
            <table id="example" class="table table-dark mt-5 container">
                <thead>
                  <tr>
                    <th scope="col">Emprendimiento</th>
                    <th scope="col">Donaciones</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Donar</th>
                    <th scope="col">Visitas</th>
                  </tr>
                </thead>
                <tbody id="cuerpo">
                  <tr *ngFor="let emprendimiento of emprendimientos">
                    <td>{{emprendimiento.nombre}}</td>
                    <td>10</td>
                    <td *ngFor="let cat of emprendimiento.categoria">{{cat.nombre}}</td>
                    <td><a href="/assets/donacion.html?valor={{emprendimiento.nombre}}"><img href="/assets/donacion.html" src="/assets/iconos/piggy-bank.png"/></a></td>
                    <td>1000</td>
                  </tr>
                </tbody>
              </table>
