<!DOCTYPE html>
<html lang="en">
<app-head></app-head>
<body>
  <app-header></app-header>
  <p class="btn-volver"><a class="btn btn-primary btn-lg" [routerLink]="['/home']" role="button"><span class="button-text">Volver</span></a></p>
  <main>
    <section>
      <a><img class="emprendedores2" src="/assets/imagenes/autenticar.png" height="400px"></a>
    </section>
    <div id="derecha">
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
      <form class="form-group" #miFormulario="ngForm" (ngSubmit)="onSubmit(miFormulario)">
        <div class="form-group">
          <label for="validationCustom01" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="usuario" value="" required ngModel name="username">
          <div class="valid-feedback">
            Dato correcto
          </div>
        </div>
        <div class="form-group">
          <label for="validationCustom02" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" value="" required ngModel name="password">
          <div class="valid-feedback">
            Dato correcto
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Iniciar</button>
        </div>
      </form>
    </div>
  </main>
  <app-footer></app-footer>
  <app-script></app-script>
</body>
</html>